.footer {
            background-color: #9b1b30; 
            color: #f5ebe0; 
            text-align: center;
            padding: 20px;
            width: 100%;
            margin-top: auto;
        }

        